/* src/pages/SignUpPage.module.css */
.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  min-height: calc(100vh - 65px);
  background: var(--background);
}